@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #232946;

}

input, button {
    font-size: 30px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232946;
    color: #fffffe
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}
.main-form {
    background-color: #ffffff;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.input_section {

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: #000000;
}

.input_section > form > .input {
    margin: 8px 0;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.input_section > form > button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: black;
}


.input_section > form > .input > label {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
   
}

.input_section > form > .input_inline > label {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 10px;
}



.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.book_shelf > h2 {
    color: rgb(0, 0, 0);
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
  
       
        border: 1px solid #ccc; 
        padding: 10px; 
        border-radius: 5px; 
        display: inline-block; 
        margin: 5px; 
      
}

.book_shelf > .book_list > .book_item > h3, p {
    font-size: 20px;
    color: #000000;
    padding: 2px;
}    



.book_item h3 {
  
  color: #3366cc; 
  font-size: 30px; 
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}



.check-button {
    width: 40px;
    height: 40px;

    background: url('assets/check-square-svgrepo-com.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('assets/check-square-hover.svg');
    background-size: contain;
}

.trash1-button {
    width: 40px;
    height: 40px;
   

    background: url('/assets/trash-bin-trash-svgrepo-com.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.trash1-button:hover {
    background: url('/assets/trash-bin-hover.svg');
    background-size: contain;
}

.trash-button {
    width: 40px;
    height: 40px;


    background: url('/assets/trash-bin-trash-svgrepo-com.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('/assets/trash-bin-hover.svg');
    background-size: contain;
}

.undo-button {
    width: 40px;
    height: 40px;


    background: url('/assets/undo-right-round-square-svgrepo-com.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('/assets/undo-right-square-hover.svg');
    background-size: contain;
}

